<app-header></app-header>
<main>
    <section class="main-section pad-70">
        <div class="headline">
            <h1>HostHero</h1>
            <h2>Todas as facilidades para transformar sua ideia em um projeto online de sucesso.</h2>
        </div>
        <img ngSrc="/assets/image1.png" width="550" height="436">
    </section>
    <section class="benefit-section pad-70">
        <div class="benefit-data">
        </div>
        <p>Desfrute de <b>hospedagem rápida</b> segura e confiável para o seu site, com recursos premium incluídos em todos os nossos planos.</p>
    </section>
    <section class="cta-section">
        <btn-primary btn-text="Conhecer planos"></btn-primary>
    </section>
    <newsletter-form></newsletter-form>
    <section class="benefit-section pad-70">
        <benefit-card
            card-title="Servidores dedicados"
            img-path="/assets/image5.png"
            card-description="Com servidores de última geração, você conta com tempos de carregamento de páginas mais rápidos, ferramentas para impulsionar sua empresa e medidas essenciais de segurança para transmitir confiança e proteger os dados dos usuários"
        >
        </benefit-card>
        <benefit-card
            card-title="Recursos flexíveis"
            img-path="/assets/image.png"
            card-description="Através de um painel robusto, impulsione sua empresa com ferramentas integradas de otimização de sites, como CPU, memória, processos de entrada, E/S. Tudo isso pode ser seu ao alcance de um clique."
        >
        </benefit-card>
    </section>
    <section class="cta-section pad-70">
        <h2>Quer elevar seu<br/>
        negócio para outro nível?</h2>
        <btn-primary btn-text="Fale com nossos especialistas"></btn-primary>
    </section>
    <app-footer></app-footer>
</main>